@charset "UTF-8";
/* ==========================================
   HERO
========================================== */
.hero {
    background: radial-gradient(circle at 0% 0%, #11011e 0%, #1c013b 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(155,48,255,0.2);
    padding:clamp(2rem,4vw,4rem);
    border-radius:var(--borda);
    margin-bottom: 30px;
    width: min(11000px,90%);
    margin: 0 auto 40px;
}
/* bloco dos textos */
.hero-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 520px;
    flex: 1;
    padding-left: 3.5rem;
    filter: drop-shadow(0 0 25px rgba(149, 41, 251, 0.632));
}

.hero-titulo {
    font-family: var(--fonte-titulo);
    font-size: clamp(2.8rem, 5vw, 3.5rem);
    font-weight: 700;
    color: #d5b3ff;
    margin: 0rem 0;
    text-shadow: 0 0 8px rgba(213,179,255,0.45), 0 0 20px rgba(155,48,255,0.25);
}

.hero-subtitulo {
    font-family: var(--fonte-titulo);
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 700;
    letter-spacing: 2px;
    color: #a66ad9;
    margin: 0.6rem 0 1rem;
}

.hero-frase {
    font-family: Bonheur Royale, cursive;
    font-size: clamp(1.5rem, 1vw, 1.5rem);
    font-weight: 100;
    color: rgba(255, 255, 255, 0.88);
    line-height: 1;
    margin: 10px 0 0 20px;
    text-align: left;
    align-self: flex-start;
    position: relative;
    display: inline-block;
    
}
/* riscos da frase */
.hero-frase::before{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,.45), transparent);
}

.hero-frase::after{
    content: "";
    position: absolute;
    top: -15px;
    left: -18px;
    width: 1px;
    height: calc(100% + 15px);
    background:  rgba(255,255,255,.45);
}

.hero-portfolio {
    font-family: var(--fonte-titulo);
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    font-weight: 80;
    letter-spacing: 2px;
    color: #d6aef9;
    margin: 0.2rem 0 0rem;
    text-align: center;
    margin-left: -50px;
    position: relative;
    display: inline-block;
}

/* riscos da palavra portfolio */
.hero-portfolio::before,
.hero-portfolio::after {
    content:"";
    position: absolute;
    top: 50%;
    width: 60px;
    height: 1px;
    background: rgba(255,255,255,0.35);
}

.hero-portfolio::before {
    right: calc(68% + 10px);
}

.hero-portfolio::after {
    left: calc(68% + 10px);
}
/* Conteúdo */
.hero-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;
    position: relative;
    z-index: 1;
}

/* Coluna visual */
.hero-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* codigo da roda */
.hero-roda {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(155,48,255,0.25), 0 0 70px rgba(106, 13, 173, 0.18);
}

.anel {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2.5px solid rgba(255, 255, 255, 0.18);
}

.anel-2,
.anel-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.anel-2 {
    width: 280px;
    height: 280px;
}

.anel-3 {
    width: 260px;
    height: 260px;
}
/*Configuração dos icones da roda*/
.icones {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
}

.icones img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 6px rgba(213, 179, 255, 0.55));
}

.icone1 {
    top: 10%;
    left: 34%;
}

.icone2 {
    top: 11%;
    left: 65%;
}

.icone3 {
    top: 35%;
    left: 89%;
}

.icone4 {
    top: 66%;
    left: 90%;
}

.icone5 {
    top: 88%;
    left: 67%;
    width: 95px;
    height: 95px;
}

.icone6 {
    top: 88%;
    left: 32%;
    width: 95px;
    height: 95px;
}

.icone7 {
    top: 65%;
    left: 10%;
}

.icone8 {
    top: 35%;
    left: 11%;
    width: 95px;
    height: 95px;
}

.foto-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 251px;
    height: 251px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
     filter: drop-shadow(0 0 6px rgba(213, 179, 255, 0.30));
}

.foto-centro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.linha {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.18) 0%,
        rgba(255, 255, 255, 0.18) 15%,
        transparent 15%,
        transparent 85%,
        rgba(255, 255, 255, 0.18) 85%,
        rgba(255, 255, 255, 0.18) 100%
    );
}

.linha-horizontal {
    transform: translateY(-50%);
}

.linha-vertical {
    transform: translateY(-50%) rotate(90deg);
}

.linha-diagonal-1 {
    transform: translateY(-50%) rotate(45deg);
}
    
.linha-diagonal-2 {
    transform: translateY(-50%) rotate(-45deg);
}

